<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" >
      <%= link_to root_path do %>
        <div class="navbar-brand">
          <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          منصة سبيل
        </div>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if current_user %>
            <% unless controller_name === 'books' %>     
              <%= link_to "مكتبتي", library_path, class: "btn btn-info"  %>
            <% end %>
          <% end %>  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if !current_user  %>
              الحساب
            <% else %>
              <%= current_user.username  %>
            <% end %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if current_user %>
                <li><%= link_to "بياناتي", edit_user_registration_path, class: "dropdown-item"%></li>
                <li><%= link_to "تسجيل الخروج", destroy_user_session_path, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "إنشاء حساب جديد", new_user_registration_path, class: "dropdown-item"%></li>
                <li><%= link_to "تسجيل الدخول", new_user_session_path, class: "dropdown-item"  %></li>
              <% end %>
              </ul>
          </li>
          </ul>
      </div>
    </div>
  </nav>