<%= stylesheet_link_tag "library"%>
<div class="book read">
  <% if book.request_count != 0 %>
    <%= puts book.user_have_book_id %>
    <%= link_to show_request_path(book: book, user_have_book_id: book.user_have_book_id), class: "counter" do %>
      <%= book.request_count %>
    <% end %>
  <% end %>
  <div class="cover">
    <% if !book.google_book_picture_tag.blank? %>
      <%= image_tag(book.google_book_picture_tag) %>
    <% else %>
      <p >
        لا يوجد صورة لعرضها
      </p>
      <i class="bi bi-emoji-frown-fill"></i>
    <% end %>
  </div>
  <div class="description">
    <div class="row">
      <p class="title"><%= book.title %><br>
      </p>
    </div>
    <div class="row">
      <%= button_to "إزالة الكتاب من مكتبتي", remove_book_from_user_books_path(:id => book.id), method: :delete,class: "btn btn-danger Custom-Button", data: {turbo_confirm: "هل انت متأكد من إزالة الكتاب ؟"}%>
    </div>
  </div>
</div>
