<%= stylesheet_link_tag "library"%>
<%= stylesheet_link_tag "containers"%>
<%= stylesheet_link_tag "search_and_resaults"%>
<div class="large-th">
  <div class="container">
    <% if !@uable_to_request  %>
      <div class="top-bar">
        <%# <h2>search</h2> %>
      </div>
      <div class="list">
        <% @books.each do |exchange_book| %>
          <%= render "books/exchange_book", book: exchange_book %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="empty-library">
      <p>عذرا لا يمكنك إرسال المزيد من الطلبات، قم بإضافة المزيد من الكتب لمتكتبك أو إلغاء أحد الطلبات السابقة</p>
      <%= link_to "أضف المزيد من الكتب", library_path ,method: :get ,class: "btn btn-dark btn-lg"%>
    </div>
  </div>
<% end %>
<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content d-flex">
      <div class="modal-header justify-content-center align-items-center">
        <h5 class="modal-title" id="modalTitleId">البحث عن كتاب</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= render "search_bar", book: @book %>
          <div id="search_results">
            <p>
              ستظهر نتائج البحث هنا
            </p>
          </div>
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
      </div>
    </div>
  </div>
</div>
<script>
  var modalId = document.getElementById('modalId');
  modalId.addEventListener('show.bs.modal', function (event) {
      let button = event.relatedTarget;
      let recipient = button.getAttribute('data-bs-whatever');
  });
</script>
