<%= stylesheet_link_tag "admin-account"%>
<div class="container-fluid">
  <div class="row  justify-content-center align-items-center"  style="height: 100vh;">
    <div class=" mx-auto center-form col-md-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2>تسجيل دخول مدير نظام</h2>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="form-group email">
          <label for="admin_email">البريد الالكتروني</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-group password">
          <label for="user_password">كلمة المرور</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "pass"%>
          <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
        </div>
        <div class="form-group submit-btn">
          <%= f.submit "تسجيل الدخول" %>
        </div>
        <%# render "admins/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag('login.js') %>
