<div id="<%= dom_id book_request %>">
  <p>
    <strong>Requester:</strong>
    <%= book_request.requester_id_id %>
  </p>
  <p>
    <strong>Requested book:</strong>
    <%= book_request.requested_book_id_id %>
  </p>
  <p>
    <strong>Meeting place:</strong>
    <%= book_request.meeting_place_id_id %>
  </p>
  <p>
    <strong>Meeting time:</strong>
    <%= book_request.meeting_time %>
  </p>
</div>
