<%= stylesheet_link_tag "containers" %>
<%= stylesheet_link_tag "paragraphs" %>
<div class="page_container flex-column justify-content-start min-vh-100">
  <% unless  @paragraphs = []%>
    <% @paragraphs.each do |paragraph|   %>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>
            <%= paragraph.username %>
          </div>
          <div>
            <%= button_to "إلغاء متابعة", unfollow_path(paragraph.followed), class: "btn btn-danger btn-sm" %>
          </div>
        </div>
        <div class="card-body ">
          <%= paragraph.content %>
        </div>
        <div class="card-footer ">
          <%= paragraph.content_type %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>