<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <title>منصة سبيل</title>
    <%= favicon_link_tag image_path('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= stylesheet_link_tag "application"%>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Lateef:wght@300&family=Marhey&display=swap" rel="stylesheet">
    </head>
    <body>
      <% if notice || alert %>
        <%= render "partial/notice" %>
      <% end %>
      <% if current_user %>
        <%=render "partial/userNavbar", unless: @disable_nav %>
      <% end %>
      <%= yield %>
      <%unless @disable_nav  %>
        <%= render "partial/footer"  %>
      <% end %>
    </body>
  </html>
