<!DOCTYPE html>
<html>
  <head>
    <title>منصة سبيل</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="turbo-visit-control" content="reload" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application"%>
    <%=javascript_importmap_tags %>
  </head>
  <body>
    <%= render "partial/navbar" %>
    <%= turbo_frame_tag "modal" %>
    <% if user_signed_in? %>
    <% end %>
    <% if notice%>
      <p class="notice">
        <%= notice %>
      </p>
    <% elsif alert %>
      <p class="alert">
        <%= alert %>
      </p>
    <% end %>
    <div class="container"><%= yield %></div>
  </body>
</html>
